# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Visual Studio Code
*.code-workspace
.vscode/**

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Exclude Game Folders
bugfix_additions/
business_policies/
animation/
cache/
crises/
customizations/
fonts/
game_roles/
game_screens/
general_actions/
gui/
helper_functions/
images/
integration_tests/
major_game_classes/
My_personal_files/
OpenGL/
personality_types/
saves/
sex_positions/
shader/
unittest/
wardrobes/
# Files from Game Folder
*.*
!.gitignore
!README.md

# Include Mods Root Folder Files
!Mods/**

# Ren'Py
**/*.rpyc
**/*.txt
project.json

!hub_scenes.rpy
!major_scenes.rpy
!minor_scenes.rpy
!script.rpy
